<div class="table-title">関連Q＆A？</div>
<div class="title_of_category"><%= @category.title %></div>
<table class="table table-striped">
  <thead class="table-ligth">
    <tr>
      <th scope="col">順位</th>
      <th>タイトル</th>
      <th>PV数</th>
    </tr>
  </thead>
  <tbody>
    <% ranking_of_category(@category).each.with_index(1) do |question, i| %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <%= link_to_unless_current question.title, question%>
        </td>
        <td>
          <span><i class="far fa-eye"></i></span> <%= question.impressions_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>