<% all_category.each do |category| %>
  <div class="card card-style" style="width: 18rem;">
    <%= image_tag(category.picture) %>
    <div class="card-body">
      <p class="card-text"><%= link_to category.title, questions_path(category_id: category.id, anchor: "questions") %></p>
    </div>
  </div>
<% end %>