<table class="table table-striped">
  <thead class="table-ligth">
    <tr>
      <th scope="col">同カテゴリ内Q＆A</th>
    </tr>
  </thead>
  <tbody>
    <% same_category_questions(@question).each.with_index(1) do |question, i| %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <%= link_to_unless_current question.title, question%>
        </td>
        <td>
          <span><i class="far fa-eye"></i></span> <%= question.impressions_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <p><%= paginate same_category_questions(@question) %></p>
</div>