<div class="col-md-5 text-center">
  <p class="ml-5 mt-3 w-100">回答の内訳</p>
  <%= pie_chart @chart_data, width: "250px", height: "350px" %>
</div>
<div class="col-md-5 text-center ml-5 pl-2">
  <p class="ml-5 mt-3 w-100">回答の内訳</p>
  <%= pie_chart @chart_data, width: "250px", height: "350px" %>
</div>