<div class="top-container">
  <div class="top-wrapper">
    <div id= "home" class="big-bg">
      <div class="home-content">
        <h1 class="page-title">Help Your Life </h1>
        <p>あなたが本当に必要としている助成金等の情報をご提供。</p>
        <% unless user_signed_in? %>
          <%= link_to '新規登録はこちら', new_user_registration_path , class: "btn btn-info sign-up" %>
        <% end %>
      </div>
    </div>
  </div> 
  <section class="desc">
    <h2 class="desc-title">サービス内容</h2>
    <p>残念ながら大多数の方々が助成金や補助金、各種手当に関する情報に疎いのが現状です。</p>
    <p>実際は受給できた助成金等を知らず知らずの内に見逃していることも多々あります。</p>
    <p>そのような機会損失を少しでも減らすために、多くの役に立つ情報をご提供します。</p>
  </section>
  <section class="info">
    <h2 class="info-title">NEWS（新着情報）</h2>
    <table class="info-content">
      <% @informations.each do |information| %>
        <tr class="info-items">
          <td class="item1"><%= information.created_at.strftime("%Y/%m/%d") %></td>
          <td class="item2"><%= link_to information.title, information %></td>
        </tr>
      <% end %>
    </table>
    <div class="pagination">
      <p><%= paginate @informations %></p>
    </div>
  </section>
  <div class="blank">
    
  </div>
  <div class="footer">
    
  </div>
</div>
