/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
// 共通レイアウト

$Main: rgba(73, 153, 142, 0.2);

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
}

//TOP

.header-container {
  width: 100%;
  display: flex;
  align-items: center;

  & nav {
    width: 100%;
  }
}

.top-wrapper {
  width: 100%;
  height: 450px;
  position: relative;
}

#home {
  background-image: url("top.png");
  height: 100%;
}

.big-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .page-title {
    font-size: 5rem;
    font-family: "Philosopher", serif;
    text-transform: uppercase;
    font-weight: normal;

    & p {
      color: gray;
    }
  }

  & .btn {
    margin-top: 30px;
  }
}

section {
  width: 100%;
  padding-top: 30px;

  &.desc {
    margin-top: 60px;
    text-align: center;
  }

  &.info {
    background-color: #eeffff;
    height: 350px;
    margin: 50px 0;
    text-align: center;

    & .info-title {
      padding-bottom: 20px;
    }

    & .info-content {
      width: 100%;
      border-bottom: 1px solid gray;
      font-size: 1.25rem;

      & tbody {
        width: 100%;

        & .info-items {
          width: 80%;
          border-bottom: 0.5px solid silver;
          margin-bottom: 30px;

          & .item1 {
            width: 30%;
          }

          & .item2 {
            width: 60%;
          }
        }
      }
    }

    & .pagination {
      margin-top: 15px;

      & p {
        margin: 0 auto;
      }
    }
  }
}

.blank {
  width: 100%;
  height: 40px;
  margin: 40px 0;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: lightgrey;
}

.new-header {
  width: 100%;
}

.container {
  margin-top: 40px;

  & h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 3px solid $Main;
  }
}

.content {
  border: 1px solid $Main;
}

// side_bar.html.erb
.table-title {
  font-size: 1.3rem;
}