/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

// 共通レイアウト

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
}

//TOP

.header-container {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;

  & nav {
    width: 100%;
  }
}

.top-container {
  width: 100%;
  height: 450px;
  position: relative;
}

#home {
  background-image: url("top.png");
  height: 100%;
}

.big-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .page-title {
    font-size: 5rem;
    font-family: "Philosopher", serif;
    text-transform: uppercase;
    font-weight: normal;

    & p {
      color: gray;
    }
  }

  & .btn {
    margin-top: 30px;
  }
}

section {
  width: 100%;
  padding-top: 30px;
  text-align: center;

  &.desc {
    margin-top: 60px;
  }

  &.info {
    background-color: silver;
    margin-top: 50px;
  }
}
