<% all_category.each do |category| %>
  <div class="card card-style" style="width: 18rem;">
    <%= link_to category do %>
      <div class="card-image">
        <%= image_tag(category.picture)%>
      </div>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= link_to category.title, category %></p>
    </div>
  </div>
<% end %>