<div class="categories-wrapper">
  <% page_title = "各分野別助成金等一覧" %>
  <h1><%= page_title %></h1>

  <div class="container">
    <div class="row my-4">
      <div class="col-md-12  card-content">
        <%= render 'shared/categories_card_list' %>
      </div>
    </div>
  </div>
</div>
