<div class="categories-wrapper">
  <div class="container">
    <div class="back_link text-right">
      <%= link_to '助成金一覧へ', subsidies_path, class: "btn btn-primary" %>
    </div>
    <% page_title = "各分野別助成金等一覧" %>
    <h1><%= page_title %></h1>
    <div class="row my-4">
      <div class="ml-4 col-md-12 card-content">
        <%= render 'categories_card_list' %>
      </div>
    </div>
  </div>
</div>
