<div class="container">
  <h1><%= @category.title %></h1>
  <div class="row my-4">
    <div class="subsidies-list col-md-7 px-3">
      <%= render 'list_of_categories' %>
    </div>
    <div class="side_bar col-md-5 px-3">
      <%= render 'shared/side_bar' %>
    </div>
  </div>
</div>