<div class="container">
  <h1><%= @subsidy.title %></h1>
  <div class="row my-4">
    <div class="content col-md-7 px-3">
      <%= simple_format @subsidy.content %>
    </div>
    <div class="side_bar col-md-5 px-3">

    </div>
  </div>
</div>


