 <div class="flash-error"> 
  <% flash.each do |key, msg| %>
    <div class="alert alert-<%= bootstrap_alert(key)%>">
      <strong>
        <p><%= msg %></p>
      </strong>
    </div>
  <% end %>
</div>
